@using Client.Authorization
@using Client.Components.Dialog
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor
@using System.Security.Claims
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject Client.Services.FilterStateService FilterStateService
@inject JwtAuthenticationStateProvider AuthStateProvider
@inject IDialogService DialogService
@inject ISnackbar Snackbar

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout>
    <!-- Top App Bar -->
    <TopAppBar _drawerOpen="_drawerOpen" ToggleDrawer="ToggleDrawer"/>

    <!-- Side Drawer -->
    <SideDrawer _drawerOpen="_drawerOpen" drawerHeaderIcon="drawerHeaderIcon" />

    <!-- Main Content -->
    <MudMainContent>
        <!-- Banner -->
        @if (IsHomePage)
        {
            <MudPaper Class="hero-banner" Elevation="0" Square="true">
                <div class="overlay">
                    <MudContainer MaxWidth="MaxWidth.Large" Class="text-center py-10">
                        <MudText Typo="Typo.h3" Color="Color.Primary" Class="mb-2">Welcome to Our Store</MudText>
                        <MudText Typo="Typo.subtitle1" Class="mb-4" Color="Color.Primary">
                            Find the best deals on electronics and other gadgets.
                        </MudText>
                    </MudContainer>
                </div>
            </MudPaper>
        }
        <MudContainer MaxWidth="MaxWidth.Large" Class="mt-4">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    private bool IsHomePage => NavigationManager.Uri == NavigationManager.BaseUri;
    private string drawerHeaderIcon = @Icons.Material.Outlined.ArrowCircleLeft;
    private bool _drawerOpen = true;

    protected override async Task OnInitializedAsync()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
        FilterStateService.OnChange += OnFilterStateChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await AuthStateProvider.CheckAuthenticationAsync();
            StateHasChanged();
        }
	}

    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        bool isProductPage = e.Location.Contains("/products");
        if (!isProductPage)
        {
            FilterStateService.SetCategory("");
        }
    }

    private async void OnFilterStateChanged()
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
        FilterStateService.OnChange -= OnFilterStateChanged;
    }

    private void ToggleDrawer()
    {
        if (_drawerOpen)
        {
            drawerHeaderIcon = @Icons.Material.Outlined.ArrowCircleLeft;
        }
        else
        {
            drawerHeaderIcon = @Icons.Material.Filled.ArrowCircleRight;
        }
        _drawerOpen = !_drawerOpen;
    }
}

<style>
    .hero-banner {
        background-image: url('images/banner.jpg');
        background-size: cover;
        background-position: center;
        height: 300px;
        z-index: 1;
    }

    .hero-banner .overlay {
        background-color: rgba(255, 255, 255, 0.5); /* light overlay */
        height: 100%;
        display: flex;
        align-items: center;
    }

    .centered-title {
		position: absolute;
		left: 50%;
		right: 50%;
		transform: translateX(-50%);
		inline-size: max-content;
        z-index: 1;
	}

</style>
